.card .card-image {
    height: 374px;
    background: #9E9E9E;
    max-width: 100%;
}
.card .card-image img{max-width: 100%;
    max-height: 374px;
}

.card {
    max-width: 100%;
}

.card .card-separator {
    background: #5E5E5E;
    width: 100%;
    height: 1px;
    max-width: 100%;
}

.card-title {
    text-align: center;
}

.card-desc {
    text-align: justify;
    padding: 10px 0px;
    gap: 10px;
    max-width: 100%;

}

.card-desc p {
    height: auto;
    width: 380px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.card-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: auto;
}