.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-header {
    padding: 10px 0px;
}

.content-header h1 {
    color: var(--Chinese-Black, #111);
    text-align: center;
    font-size: 48px;
    font-weight: 400;
}

.content-separator {
    background-color: #111;
    width: 263.008px;
    height: 1px;

}

.content-text {
    display: flex;
    padding: 10px 25px;
    justify-content: center;
    align-items: center;
    max-width: 600px;

}

.content-text p {
    color: var(--Chinese-Black, #111);
    text-align: justify;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}

.content-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 25px;

}
.hero{
    display: flex; 
    justify-content: center;
    max-width: 100%;
}

@media screen and (max-width: 768px) {
    .hero{
        display: flex;
        flex-direction: column;
    }   

    .hero-img{
        display: none;
    }
}

