.header{
    display: flex;
    padding: 36px 32px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}
.header .frame{
    display: flex;
    width: 620px;
    justify-content: space-between;
    align-items: center;
}

.header .frame .link{
    text-align: center;
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}